alembic==1.4.2
appnope==0.1.0
attrs==19.3.0
backcall==0.2.0
beautifulsoup4==4.9.1
bleach==3.1.5
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
chart-studio==1.1.0
click==7.1.2
colorlover==0.3.0
cufflinks==0.17.3
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.10
descartes==1.1.0
dnspython==1.16.0
dominate==2.5.1
email-validator==1.1.1
entrypoints==0.3
et-xmlfile==1.0.1
feedgen==0.9.0
flake8==3.8.3
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-Caching==1.9.0
Flask-Dance==3.0.0
Flask-HTTPAuth==4.1.0
Flask-Login==0.5.0
Flask-Migrate==2.5.3
Flask-SQLAlchemy==2.4.3
Flask-WTF==0.14.3
GDAL==3.1.4
GitHub-Flask==3.2.0
gunicorn==20.0.4
idna==2.10
imagecodecs==2020.5.30
imageio==2.9.0
ipykernel==5.3.2
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.1
Jinja2==2.11.2
joblib==0.15.1
jsonschema==3.2.0
jupyter-client==6.1.6
jupyter-core==4.6.3
keep==2.9
kiwisolver==1.2.0
libtiff==0.4.2
lxml==4.5.1
Mako==1.1.3
MarkupSafe==1.1.1
matplotlib==3.2.2
mccabe==0.6.1
mistune==0.8.4
mizani==0.7.1
mss==6.0.0
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.5
notebook==6.0.3
numpy==1.18.5
oauthlib==3.1.0
opencv-python==4.4.0.44
openpyxl==3.0.3
packaging==20.4
palettable==3.3.0
pandas==1.0.5
pandocfilters==1.4.2
parso==0.7.0
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
plotly==4.8.2
plotnine==0.7.0
prometheus-client==0.8.0
prompt-toolkit==3.0.5
psycopg2-binary==2.8.5
ptyprocess==0.6.0
pycodestyle==2.6.0
pyflakes==2.2.0
PyGithub==1.51
Pygments==2.6.1
PyJWT==1.7.1
pyparsing==2.4.7
PyPDF2==1.26.0
pyrsistent==0.16.0
python-dateutil==2.8.1
python-dotenv==0.14.0
python-editor==1.0.4
pytrends==4.7.3
pytz==2020.1
PyWavelets==1.1.1
pyzmq==19.0.1
requests==2.24.0
requests-oauthlib==1.3.0
retrying==1.3.3
robobrowser==0.5.3
scikit-image==0.17.2
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.10.1
Send2Trash==1.5.0
six==1.15.0
sklearn==0.0
soupsieve==2.0.1
SQLAlchemy==1.3.18
statsmodels==0.11.1
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2020.10.1
tornado==6.0.4
traitlets==4.3.3
urllib3==1.25.9
URLObject==2.4.3
visitor==0.1.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
windrose==1.6.7
wrapt==1.12.1
WTForms==2.3.1
xlrd==1.2.0
xtiff==0.6.2
